<form action="/" method="post"role="form">
  <label>New Todo
  <input type="text" name="name" value="Task"></label>
  <button type="submit"> Create Todo </button>

  <h1>Here's all the things to do:</h1>

</form>

<% @todos.each do |task| %>
<%= task.name %><br>
<%end%>
